.inicio {
  background-color: $salmon;
  padding: 100px;
}

.nosotros {
  background-color: $salmon;
  padding: 80px;

}

.negocio {
  background-color: $salmon;
  padding: 100px;
}

.inicio {
  background-color: $salmon;
}

.contact {
  background-color: $salmon;
  padding: 100px;
  
}
